{% extends "layouts/base.html" %}

{% block title %} Incident Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Tempus Dominus Styles -->
<link
href="
https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
rel="stylesheet"
/>
{% endblock stylesheets %}
{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Incidents Logging</h4>
			{% comment %} <ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<em class="flaticon-home"></em>
					</a>
				</li>
				<li class="separator">
					<em class="flaticon-right-arrow"></em>
				</li>
				<li class="nav-item">
					<a href="#">Forms</a>
				</li>
				<li class="separator">
					<em class="flaticon-right-arrow"></em>
				</li>
				<li class="nav-item">
					<a href="#">Basic Form</a>
				</li>
			</ul> {% endcomment %}
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form method="POST" action="" id='assignPIC'  enctype="multipart/form-data">
						<div class="card-header">
							<div class="card-title">Assign Person In Charge</div>
						</div>
						<div class="card-body">
							{% csrf_token %}
							{% comment %} {{assignForm}} {% endcomment %}
							
							<div class="row">
								{{ assignForm.non_field_errors }}
								<div class="form-group col-md-12">
									<label>{{assignForm.assigned_to.label}} </label>
									{{assignForm.assigned_to}}
								</div>
								
							</div>
							<div class="row">
								{{ assignForm.non_field_errors }}
								<div class="form-group col-md-12">
									<label>{{assignForm.comment.label}} </label>
									{{assignForm.comment}}
								</div>
								
							</div>
							<div class="row">
								{{ assignForm.non_field_errors }}
								<div class="form-group col-md-12">
									<label>{{assignForm.due_date.label}} </label>
									<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
										{{ assignForm.due_date }}
										<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
										  <div class="input-group-text"><em class="fa fa-calendar"></em></div>
										</div>
									</div>
				
								</div>
								
							</div>
							
							
						</div>
						<button class="btn btn-success mb-4 mr-4 " style="float:right" type="submit">Assign</button>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> {% endcomment %}

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script> {% endcomment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<script>

$(document).ready(function () {


	$('#datetimepicker1').datetimepicker({
		format:'DD/MM/YYYY HH:mm',
	})

	}) 
</script>

{% endblock javascripts %}